@tailwind base;
@tailwind components;
@tailwind utilities;

.translateImg{
    transform: translate(-50%, -50%);
    width: 250px;
    height:250px
}

.imagen-recortada {
    width: 50%;
    height: 480px;
    background-image: url('./imgs/krka.jpg');   
    position:relative;
    clip-path: polygon(0 0, 100% 0, 0 300%)
  }

.margeo{
  margin-top:100px;
  margin-left: 50px;
  
}


.fadeInOut {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.swiper-slide-active h1 {
  animation: fadeInUp 1s;
}