@tailwind base;
@tailwind components;
@tailwind utilities;

.translateImg{
    transform: translate(-50%, -50%);
    width: 250px;
    height:250px;
   
}

.imagen-recortada {
    width: 60%;
    height: 580px;      
    position:relative;
    clip-path: polygon(0 0, 100% 0, 0 300%)
  }

.margeo{
  margin-top:100px;
  margin-left: 50px;
  
}


.fadeInOut {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.swiper-slide-active h1 {
  animation: fadeInUp 1s;
}

.sticky{
  height:64px;
}


@media (max-width: 639px) {
  .imagen-recortada {
    width: 100%;
    height: 15rem;     
    position:relative;
    clip-path: polygon(0 0, 600% 0, 0 100%);
   
  }

  .translateImg{
    transform: translate(-50%, -50%);
    width: 150px;
    height:150px;
    margin-left: 50px;
  }
}