@tailwind base;
@tailwind components;
@tailwind utilities;

.translateImg{
    transform: translate(-50%, -50%);
    width: 250px;
    height:250px;
   
}

.imagen-recortada {
    width: 60%;
    height: 580px;      
    position:relative;
    clip-path: polygon(0 0, 100% 0, 0 300%)
  }

.margeo{
  margin-top:100px;
  margin-left: 50px;
  
}


.fadeInOut {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.swiper-slide-active h1 {
  animation: fadeInUp 1s;
}

.sticky{
  height:64px;
}


@media (max-width: 639px) {
  .imagen-recortada {
    width: 100%;
    height: 15rem;     
    position:relative;
    clip-path: polygon(0 0, 600% 0, 0 100%);
   
  }

  .translateImg{
    transform: translate(-50%, -50%);
    width: 150px;
    height:150px;
    margin-left: 50px;
  }
}



.containerBlue {    
  width: 0px;
  height: 46rem;    
  transition: width 0.2s ease; /* Agrega una transición suave */
  background-color: red;
  position:absolute;
  top:0;
  right:0;
  
}

.zero{
  color:white;
}


@media (max-width: 1024px) {
  .containerBlue {
      width: 0px;
      height: 46rem;    
      transition: width 0.2s ease; /* Agrega una transición suave */
      background-color: #000080;
      z-index:20;
      position:fixed;
    }
  
  .burger{      
      width:60px;
      height:50px;
      background:black;
      
  }
  
    .blue {
       /* Color de fondo azul cuando se aplica la clase "blue" */    
      width:200px;
    }
  
    .linea{
      margin-left:2px;
      margin-top:8px;
      padding:2px;
      width:45px;
      height:2px;
      background:white;
    }

    .blue {
      /* Color de fondo azul cuando se aplica la clase "blue" */    
     width:200px;
   }
   .hid {
    display: none;
  }
}

@media (min-width: 1023px) {
  .hid {
    display: none;
  }
}